{% extends "base.html" %} {% block title %}Help{% endblock %} {% block content %}

<h1>User Help</h1>
<p>Welcome to the Help Page! This page provides guidance on using the features of our task managing application.</p>

<h2>1. Add a New Task</h2>
<p>You can add new tasks to your list. Here's how to do it:</p>
<ol>
    <li>Fill out the task details in the form provided:</li>
    <ol>
        <li>Title: The title of your task to complete.</li>
        <li>Description: Give more context to your task by adding details and notes related to it.</li>
        <li>Date and Time: This is the date and time that your task needs to be comeplete by.</li>
        <li>Tag: Tags help you categorize your tasks to an overarching responsibility that you have.</li>
        <li>Priority: This is how important you task is that you need to complete. It can have a "Low", "Medium", and
            "High" priority.</li>
    </ol>
    <li>Select the "Priority" level from the dropdown list (Low, Medium, High).</li>
    <li>Click the "Add Task" button to create a new task with the specified details.</li>
</ol>

<h2>2. Editing a Task</h2>
<p>You can edit tasks that you have added to your list. Here's how to do it:</p>
<ol>
    <li>Hit the "Edit Task" button.</li>
    <li>Edit the details of the task that you would like to change.</li>
    <li>Click the "Update Task" button to finalize your changes.</li>
</ol>

<h2>3. Search Bar</h2>
<p>The search bar allows you to filter your tasks based on specific criteria. Here's how to use it:</p>
<ol>
    <li>Select a search category using the dropdown list (e.g., Title, Description, Tag, Priority).</li>
    <li>Enter your search query in the input field and press Enter.</li>
    <li>The application will filter the tasks based on your search query.</li>
</ol>

<h2>4. Sorting Tasks</h2>
<p>You can sort your tasks by clicking on the table headers. Here's how sorting works:</p>
<ol>
    <li>Click on any table header (e.g., ID, Date and Time, Title) to sort tasks in ascending order.</li>
    <li>Click on the same header again to sort tasks in descending order (Work in Progress).</li>
</ol>

<h2>5. Marking Tasks as Complete/Incomplete</h2>
<p>The status of your tasks is displayed using checkboxes. Here's how it works:</p>
<ol>
    <li>A checked checkbox indicates that a task is complete (True).</li>
    <li>An unchecked checkbox indicates that a task is incomplete (False).</li>
    <li>Click on a checkbox to toggle the status (complete or incomplete).</li>
</ol>

<h2>6. Exporting Tasks</h2>
<p>Users are able to export their tasks into an excel document to take their tasks outside of the application. This
    allows them to share their tasks with other users in a widely used format. Here is how to export your tasks:</p>
<ol>
    <li>Locate the "Export to Excel" button below your task tables and click.</li>
    <li>Save your downloded .xslx file to a desired location.</li>
    <li>Open and view the file to see the exported tasks.</li>
</ol>
<p>The tasks are split up into three separate sheets.One with all the tasks in a list, one with incomeplete tasks, and
    one with complete tasks. All tasks have their appropriate data with them.</p>

<h2>Setting a Task Reminder</h2>
<p>Users are able to set a desktop notification to get notified at a user specified time to remind them of a give task.
    Here is how to use the reminders:</p>
<ol>
    <li>When creating/editing a task, set a reminder time. This time must be past the current time for a reminder to be
        properly set.</li>
    <li>Submit the new task information.</li>
    <li>Click the bell icon next to the remidner time.</li>
    <li>A desktop notifcation will appear, showing the title and description of the task.</li>
</ol>

<button id="backButton" class="btn btn-primary" onclick="goBack()">Back</button>
<br />

<script>
    function goBack() {
        // Navigate back to the previous page in the browser's history
        window.history.back();
    }
</script>

{% endblock %}