{% extends "base.html" %}
{% block title %}Help{% endblock %}
{% block content %}

<h1>Help Page</h1>
<p>Welcome to the Help Page! This page provides guidance on using the features of our task managing application.</p>

<h2>1. Add a New Task</h2>
<p>You can add new tasks to your list. Here's how to do it:</p>
<ol>
    <li>Fill out the task details in the form provided:</li>
        <ol>
            <li>Title: The title of your task to complete.</li>
            <li>Description: Give more context to your task by adding details and notes related to it.</li>
            <li>Date and Time: This is the date and time that your task needs to be comeplete by.</li>
            <li>Tag: Tags help you categorize your tasks to an overarching responsibility that you have.</li>
            <li>Priority: This is how important you task is that you need to complete. It can have a "Low", "Medium", and "High" priority.</li>
        </ol>
    <li>Select the "Priority" level from the dropdown list (Low, Medium, High).</li>
    <li>Click the "Add Task" button to create a new task with the specified details.</li>
</ol>

<h2>2. Editing a Task</h2>
<p>You can edit tasks that you have added to your list. Here's how to do it:</p>
<ol>
    <li>Hit the "Edit Task" button.</li>
    <li>Edit the details of the task that you would like to change.</li>
    <li>Click the "Update Task" button to finalize your changes.</li>
</ol>

<h2>3. Search Bar</h2>
<p>The search bar allows you to filter your tasks based on specific criteria. Here's how to use it:</p>
<ol>
    <li>Select a search category using the dropdown list (e.g., Title, Description, Tag, Priority).</li>
    <li>Enter your search query in the input field and press Enter.</li>
    <li>The application will filter the tasks based on your search query.</li>
</ol>

<h2>4. Sorting Tasks</h2>
<p>You can sort your tasks by clicking on the table headers. Here's how sorting works:</p>
<ol>
    <li>Click on any table header (e.g., ID, Date and Time, Title) to sort tasks in ascending order.</li>
    <li>Click on the same header again to sort tasks in descending order (Work in Progress).</li>
</ol>

<h2>5. Marking Tasks as Complete/Incomplete</h2>
<p>The status of your tasks is displayed using checkboxes. Here's how it works:</p>
<ol>
    <li>A checked checkbox indicates that a task is complete (True).</li>
    <li>An unchecked checkbox indicates that a task is incomplete (False).</li>
    <li>Click on a checkbox to toggle the status (complete or incomplete).</li>
</ol>

<h2>6. Help Button</h2>
<p>The "Help" button on the top-right allows you to access this help page for guidance on using the application.</p>

<button id="backButton" class="btn btn-primary" onclick="goBack()">Back</button>
<br>

<script>
    function goBack() {
        // Navigate back to the previous page in the browser's history
        window.history.back();
    }
</script>

{% endblock %}