{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<h1 align="center">Welcome {{ user.first_name }}, User ID: {{ user.id }}</h1>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<h1 align="center">Tasks</h1>
<hr>

<!-- SEARCH BAR -->
<div class="search-container">
  <label for="columnSelect">Search in Column:</label>
  <select id="columnSelect" onchange="changeSearchColumn()">
    <option value="title">Title</option>
    <option value="description">Description</option>
    <option value="tag">Tag</option>
    <option value="priority">Priority</option>
    <option value="status">Status</option>
  </select>
  <input type="text" id="taskSearch" placeholder="Search for tasks..." onkeyup="searchTasks()">
</div>
<br>

<ul class="list-group list-group-flush" id="tasks">
  <table class="searchable sortable" id="task-table">
    <thead>
      <tr>
        <th ><a href="javascript:sortTable(0)">ID</a></th>
        <th ><a href="javascript:sortTable(1)">Date and Time</a></th>
        <th  ><a href="javascript:sortTable(2)">Title</a></th>
        <th  >Description</th>
        <th ><a href="javascript:sortTable(4)">Tag</a></th>
        <th ><a href="javascript:sortTable(5)">Priority</a></th>
        <th  ><a href="javascript:sortTable(6)">Status</a></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for task in user.tasks %}
      <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.due_date }}</td>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.tag }}</td>
        <td>{{ task.priority }}</td>
        
        <td>
          <input
          type='checkbox'
          id='{{ task.id }}'
          class='complete'
          name='data_{{False}}'
          value="{{False}}"
          onclick="checkComplete('{{ task.id }}')"
          >
        </td>

        <td><a href="{{ url_for('views.delete_task', t=task.id) }}"
            onclick="return confirm('Do you want to permanently delete task {{ task.id }}?');" title="Delete Task">Delete Task</a>
        </td>
        <td><a href="/editform?taskid={{task.id}}">Edit Task</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</ul>
<h3>Add Information About Your Task: </h3>
<form method="POST">
  <h1>Task</h1>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Add a Title" />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea type="text" class="form-control" id="description" name="description"
      placeholder="Add a Description"></textarea>
  </div>
  <div class="form-group">
    <label for="date">Select a Date (YYYY-MM-DD) and Time (HH:MM)</label>
    <input type="datetime-local" class="form-control" id="date" name="date">
  </div>
  <div class="form-group">
    <label for="tag">Tag</label>
    <input type="text" class="form-control" id="tag" name="tag" placeholder="#..." />
  </div>
  <div class="form-group">
    <label for="priority">Priority</label>
    <select class="form-control" id="priority" name="priority">
      <option value="Low">Low</option>
      <option value="Medium">Medium</option>
      <option value="High">High</option>
    </select>
  </div>

  <div>
    <button type="submit" class="btn btn-primary">Add Task</button>
  </div>
  <br>
</form>

<script>
  /* REFERENCED FROM W3SCHOOLS*/

  function sortTable(num) {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("task-table");
  switching = true;
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[num];
      y = rows[i + 1].getElementsByTagName("TD")[num];
      // Check if the two rows should switch place:
      if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
        // If so, mark as a switch and break the loop:
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}
</script>

<script>
//Checkbox is checked if task is complete. Bool value and task id get passed to Flask to update bool in db
function checkComplete(t)
{ 
//grabs checkbox
  checkbox = document.getElementById(t)
  // True if checkbox is checked, false if checkbox is not checked
  var bool= checkbox.checked
  var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
  //where we pass data in views.py
  var theUrl = "/complete_task/";
  xmlhttp.open("POST", theUrl);
  xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
  //passes data as dict
  xmlhttp.send(JSON.stringify({'task':t,'bool':bool}));
  /*
  $.ajax({
    url:"/complete_task/",
    type:"POST",
    contentType:"application/json",
    data:JSON.stringify(data_dict)
  });
  */

  //request.open('POST','/complete_task/${JSON.stringify(task_num)}')
 // request.send();
  //console.log(data_dict)
 // alert(data_dict)

  //status_data={'taskid':t,'complete_val':bool}
  //task_id=checkbox.toString()

  //console.log(task_id)
 
  /*
  if (checkbox.checked == true)
  {
    alert('task '+ t + ' complete');
    //alert(checkbox.checked)
  }
  else{
  alert('task '+ t + ' incomplete');
  }
  */
}
</script>

<script>
  // Your sortTable function here

  var searchColumn = "title"; // Default search column

  function changeSearchColumn() {
    var columnSelect = document.getElementById("columnSelect");
    searchColumn = columnSelect.options[columnSelect.selectedIndex].value;
    searchTasks();
  }

  function searchTasks() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("taskSearch");
    filter = input.value.toUpperCase();
    table = document.getElementById("task-table");
    tr = table.getElementsByTagName("tr");

    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[2]; // Index 2 is the Title column, adjust it as needed
      if (searchColumn === "description") {
        td = tr[i].getElementsByTagName("td")[3]; // Index 3 is the Description column
      } else if (searchColumn === "tag") {
        td = tr[i].getElementsByTagName("td")[4]; // Index 4 is the Tag column
      } else if (searchColumn === "priority") {
        td = tr[i].getElementsByTagName("td")[5]; // Index 5 is the Priority column
      } else if (searchColumn === "status") {
        td = tr[i].getElementsByTagName("td")[6]; // Index 6 is the Status column
      }

      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>



{% endblock %}