<!DOCTYPE html>
<html lang="en">
<title>Registration Form</title>
<div class="registerdiv">
    <form action="POST">
          <div class="form-details">
            <label for="email">Email : </label>
            <input type="email" name="mail"  id="email">
          </div>
          <div class="form-details">
            <label for="email">Password : </label>
            <input type="password" name="password" id="password">
          </div>
          <button type="submit" class="submit-form">Register</button>
    </form>
</div>
</html>