<!DOCTYPE html>
<html lang="en">
<head>Login Form</head>
<div class="logindiv">
    <form method="POST">
          <div class="form-details">
            <label for="email">Email : </label>
            <input type="email" name="e"  id="e">
          </div>
          <div class="form-details">
            <label for="email">Password : </label>
            <input type="password" name="p" id="p">
          </div>
          <button type="submit" class="submit-form">Login</button>
    </form>
</div>
</html>